extends layout

block content
    img(src='../images/back_arrow.png', onclick='window.location.replace("/")')
    h1= 'There is no data for these countries.'
    h2= 'Please go back and choose new ones.'