body {
  background-color: #F7D4D6;
  font: normal 16px "Palatino Linotype", "Book Antiqua", Palation, serif
}

.container{
	width: 80%;
	margin:auto;
	overflow:hidden;
}

#header{
	background-color: #1258DC;
	color: white;
	text-align:center;
}

#queries{
	float:left;
	width: 30%;
	border-right: 1px black solid;
	text-transform:capitalize;
}